# ref: https://fabianlee.org/2017/05/21/golang-running-a-go-binary-as-a-systemd-service-on-ubuntu-16-04/
[Unit]
Description=GitHub CI Webhook Service
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# GitHub Env Vars
Environment=GITHUB_USER=1gtm
Environment=GITHUB_TOKEN=

WorkingDirectory=/root
ExecStart=/usr/local/bin/gh-ci-webhook run

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/gh-ci-webhook
ExecStartPre=/bin/chown syslog:adm /var/log/gh-ci-webhook
ExecStartPre=/bin/chmod 755 /var/log/gh-ci-webhook
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gh-ci-webhook

[Install]
WantedBy=multi-user.target
