# ref: https://fabianlee.org/2017/05/21/golang-running-a-go-binary-as-a-systemd-service-on-ubuntu-16-04/
[Unit]
Description=GitHub CI Webhook Service
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# GitHub Env Vars
Environment=GITHUB_USER=1gtm
Environment=GITHUB_TOKEN=

WorkingDirectory=/root
ExecStart=/usr/local/bin/offline-license-server run

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/offline-license-server
ExecStartPre=/bin/chown syslog:adm /var/log/offline-license-server
ExecStartPre=/bin/chmod 755 /var/log/offline-license-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=offline-license-server

[Install]
WantedBy=multi-user.target
