<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R5J3WVDEFB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R5J3WVDEFB');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AppsCode License Server</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.appscode.com/images/products/appscode/icons/favicon-32x32.png">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <script src="https://tag.clearbitscripts.com/v1/pk_81079761ad5191fbdb09e9f13ff41927/tags.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <h1 class="title">AppsCode License Server</h1>
            <article class="message is-info">
              <div class="message-body">
                License issuing process can be automated following the steps <strong><a href="https://github.com/bytebuilders/offline-license-server#api-reference">here</a></strong>.
              </div>
            </article>
            <form action="/issue-license" method="post">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input name="name" class="input" type="text" placeholder="" />
                </div>
              </div>
              <div class="field">
                <label class="label">Work Email</label>
                <div class="control">
                  <input
                    name="email"
                    class="input"
                    type="email"
                    placeholder=""
                    value=""
                  />
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>
              <div class="field">
                <label class="label">Product</label>
                <div class="control">
                  <div class="select">
                    <select id="product" name="product">
                      <option value="kubedb-enterprise" {{ if eq .Product "kubedb-enterprise" }}selected{{ end }}>
                        KubeDB Enterprise Edition
                      </option>
                      <option value="kubedb-community" {{ if eq .Product "kubedb-community" }}selected{{ end }}>
                        KubeDB Community Edition
                      </option>
                      <option value="stash-enterprise" {{ if eq .Product "stash-enterprise" }}selected{{ end }}>
                        Stash Enterprise Edition
                      </option>
                      <option value="stash-community" {{ if eq .Product "stash-community" }}selected{{ end }}>
                        Stash Community Edition
                      </option>
                      <option value="kubevault-enterprise" {{ if eq .Product "kubevault-enterprise" }}selected{{ end }}>
                        KubeVault Enterprise Edition
                      </option>
                      <option value="kubevault-community" {{ if eq .Product "kubevault-community" }}selected{{ end }}>
                        KubeVault Community Edition
                      </option>
                      <option value="kubeform-enterprise" {{ if eq .Product "kubeform-enterprise" }}selected{{ end }}>
                        Kubeform Enterprise Edition
                      </option>
                      <option value="kubeform-community" {{ if eq .Product "kubeform-community" }}selected{{ end }}>
                        Kubeform Community Edition
                      </option>
                      <option value="voyager-enterprise" {{ if eq .Product "voyager-enterprise" }}selected{{ end }}>
                        Voyager Enterprise Edition
                      </option>
                      <option value="voyager-community" {{ if eq .Product "voyager-community" }}selected{{ end }}>
                        Voyager Community Edition
                      </option>
                      <option value="platform-enterprise" {{ if eq .Product "platform-enterprise" }}selected{{ end }}>
                        Platform License
                      </option>
                      <option value="config-syncer-enterprise" {{ if eq .Product "config-syncer-enterprise" }}selected{{ end }}>
                        Config Syncer License
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Kubernetes Cluster ID</label>
                <div class="control">
                  <input name="cluster" class="input" type="text" placeholder="" />
                </div>
                <p class="help is-info">
                  Run command:
                  <code
                    >kubectl get ns kube-system -o=jsonpath='{.metadata.uid}'</code
                  >
                </p>
              </div>
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input name="tos" type="checkbox" value="true" />
                    I agree to the
                    <a href="https://appscode.com/legal/tos/"
                      >terms and conditions</a
                    >
                  </label>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5821e34b18d9f16af02864b7/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
