<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AppsCode Product Pricing List</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.appscode.com/images/products/appscode/icons/favicon-32x32.png">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <h1 class="title">AppsCode Product Pricing List</h1>
            <form action="" method="post">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input
                    name="name"
                    class="input"
                    type="text"
                    placeholder=""
                  />
                </div>
              </div>

              <div class="field">
                <label class="label">Work Email</label>
                <div class="control">
                  <input
                    name="email"
                    class="input"
                    type="email"
                    placeholder=""
                    value=""
                  />
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>

              <div class="field">
                <label class="label">CC</label>
                <div class="control">
                  <input name="cc" class="input" type="text" placeholder="" />
                </div>
              </div>

              <div class="field">
                <label class="label">Job title</label>
                <div class="control">
                  <input name="title" class="input" type="text" placeholder="" />
                </div>
              </div>

              <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                  <input name="telephone" class="input" type="text" placeholder="" />
                </div>
              </div>

              <div class="field">
                <label class="label">Company name</label>
                <div class="control">
                  <input
                    name="company"
                    class="input"
                    type="text"
                    placeholder=""
                  />
                </div>
              </div>

              <div class="field">
                <label class="label">Product</label>
                <div class="control">
                  <div class="select is-multiple">
                    <select id="product" name="product" multiple size="10">
                      <option value="kubedb-enterprise" {{ if eq .Product "kubedb-enterprise-50" }}selected{{ end }}>KubeDB Enterprise 50</option>
                      <option value="kubedb-enterprise" {{ if eq .Product "kubedb-enterprise-60" }}selected{{ end }}>KubeDB Enterprise 60</option>
                      <option value="stash-enterprise" {{ if eq .Product "stash-enterprise" }}selected{{ end }}>Stash Enterprise</option>
                      <option value="kubeform-enterprise" {{ if eq .Product "kubeform-enterprise" }}selected{{ end }}>Kubeform Enterprise</option>
                      <option value="kubevault-enterprise" {{ if eq .Product "kubevault-enterprise" }}selected{{ end }}>KubeVault Enterprise</option>
                      <option value="voyager-enterprise" {{ if eq .Product "voyager-enterprise" }}selected{{ end }}>Voyager Enterprise</option>
                      <option value="guard-enterprise" {{ if eq .Product "guard-enterprise" }}selected{{ end }}>Guard Enterprise</option>
                      <option value="config-syncer-enterprise" {{ if eq .Product "config-syncer-enterprise" }}selected{{ end }}>Config Syncer Enterprise</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input name="tos" type="checkbox" value="true"/>
                    I agree to the
                    <a href="https://appscode.com/legal/tos/"
                      >terms and conditions</a
                    >
                  </label>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" value="generate" onclick='this.form.action="/_/pricing"'>Generate Quotation</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
