<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AppsCode Test Paper</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.appscode.com/images/products/appscode/icons/favicon-32x32.png">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <h1 class="title">{{.TestName}}</h1>
            {{ if .Err }}
            <article class="message is-danger">
              <div class="message-body">
                <strong>{{.Err}}</strong>
              </div>
            </article>
            {{ else }}
            <article class="message is-info">
              <div class="message-body">
                <ul>
                  <li>You have <strong>{{.TimeLeft}}</strong> left to take the test!</li>
                  <li>One started, you have <strong>{{.Duration}} minutes</strong> to complete the test.</li>
                </ul>
              </div>
            </article>
            <form action="/_/qa/{{.ConfigDocId}}/start" method="post" onSubmit="return confirmStart();">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    name="email"
                    class="input"
                    type="email"
                    placeholder=""
                    value=""
                  />
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Start Now!</button>
                </div>
              </div>
            </form>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  <script>
  function confirmStart() {
    return confirm("You have to finish the test in {{.Duration}} minutes.\n Click OK to start!");
  }
  </script>
  </body>
</html>
